{% extends 'base.html' %}

{% block title %}{{block.super}}Services{% endblock %}
{% block main_content %}
{% load static %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Our Services</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index'%}">Home</a>
                            <span>Services</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Services Section Begin -->
    <section class="services-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-lg-2">
                    <div class="services__details">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__details__title">
                                    <span>Facial procedures</span>
                                    <h3>Hydra Facial ( Whitening, Tightening)</h3>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__details__widget">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h3>Rs. 8000</h3>
                                </div>
                            </div>
                        </div>
                        <div class="services__details__pic">
                            <img src="{% static 'img/services/services-details.jpg'%}" alt="">
                        </div>
                        <div class="services__details__text">
                            <p>A HydraFacial with a focus on whitening and tightening typically involves using specialized skincare products and steps to address concerns related to skin brightening and firmness. Keep in mind that the specific products and steps may vary depending on the skincare clinic or spa offering the treatment. Here's a general outline of how a HydraFacial with a focus on whitening and tightening might be structured</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="services__details__item__pic">
                                    <img src="{% static 'img/services/sd-1.jpg'%}" alt="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="services__details__item__pic">
                                    <img src="{% static 'img/services/sd-2.jpg'%}" alt="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="services__details__item__pic">
                                    <img src="{% static 'img/services/sd-3.jpg'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="services__details__desc">
                            <p>Here's a brief overview of the HydraFacial process:
                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <ul class="services__details__feature">
                                        <li><i class="fa fa-check-circle"></i> Consultation</li>
                                        <li><i class="fa fa-check-circle"></i> Makeup Removal</li>
                                        <li><i class="fa fa-check-circle"></i> Lymphatic Drainage Massage</li>
                                        
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <ul class="services__details__feature">
                                        <li><i class="fa fa-check-circle"></i> Cleansing and Exfoliation</li>
                                        <li><i class="fa fa-check-circle"></i> Brightening Acid Peel</li>
                                        <li><i class="fa fa-check-circle"></i> Tightening Serum Application</li>
                                    </ul>
                                </div>
                            </div>
                            <p>Always consult with a skincare professional to determine the best treatment plan for your specific skin concerns and goals.</p>
                        </div>
                    </div>
                </div>
                {% include 'service-pages/services-base.html' %}
            </div>
        </div>
    </section>
    <!-- Services Section End -->
    {% endblock main_content %}