{% extends 'base.html' %}

{% block title %}{{block.super}}Services{% endblock %}
{% block main_content %}
{% load static %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Our Services</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index'%}">Home</a>
                            <span>Services</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Services Section Begin -->
    <section class="services-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-lg-2">
                    <div class="services__details">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__details__title">
                                    <span>Facial procedures</span>
                                    <h3>Luxury Hydra Facial</h3>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__details__widget">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h3>Rs. 12000</h3>
                                </div>
                            </div>
                        </div>
                        <div class="services__details__pic">
                            <img src="{% static 'img/services/services-details.jpg'%}" alt="">
                        </div>
                        <div class="services__details__text">
                            <p>A luxury HydraFacial is an advanced skincare treatment that combines several steps to cleanse, exfoliate, extract impurities, hydrate, and protect the skin. The HydraFacial treatment is known for its effectiveness in improving skin texture, reducing fine lines and wrinkles, and promoting a more radiant complexion.</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="services__details__item__pic">
                                    <img src="{% static 'img/services/sd-1.jpg'%}" alt="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="services__details__item__pic">
                                    <img src="{% static 'img/services/sd-2.jpg'%}" alt="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="services__details__item__pic">
                                    <img src="{% static 'img/services/sd-3.jpg'%}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="services__details__desc">
                            <p>Here's a general overview of what you might expect during a luxury HydraFacial:
                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <ul class="services__details__feature">
                                        <li><i class="fa fa-check-circle"></i> Cleansing and Exfoliation:</li>
                                        <li><i class="fa fa-check-circle"></i> Acid Peel</li>
                                        <li><i class="fa fa-check-circle"></i> Extraction</li>
                                        
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <ul class="services__details__feature">
                                        <li><i class="fa fa-check-circle"></i> Hydration</li>
                                        <li><i class="fa fa-check-circle"></i> Protection</li>
                                        <li><i class="fa fa-check-circle"></i> LED Light Therapy (optional)</li>
                                    </ul>
                                </div>
                            </div>
                            <p>A luxury HydraFacial is typically performed by trained skincare professionals, and the specific products and techniques used may vary based on the spa or clinic offering the service. The treatment is generally well-tolerated and suitable for a variety of skin types. It's often recommended for those seeking immediate results with minimal downtime.</p>
                        </div>
                    </div>
                </div>
                {% include 'service-pages/services-base.html' %}
            </div>
        </div>
    </section>
    <!-- Services Section End -->
    {% endblock main_content %}